.home__container {
    row-gap: 7rem;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5rem;
    padding-left: 4rem;
    column-gap: 2rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

.home__social-icon:hover {
    color: var(--title-color-dark);
}

.home__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
    animation: wave 2s ease-in-out infinite;
    transform-origin: bottom center;
  }
  
  @keyframes wave {
    0%, 100% {
      transform: rotate(0deg);
    }
    25%, 75% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(-15deg);
    }
  }
  
.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    padding-left: 5.4rem;
    margin-bottom: var(--mb-1);
    height: 2rem;
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home__img {
    height: 300px;
    width: 300px;
}

.home__scroll {
    margin-left: 14rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        padding-top: 6rem;
        column-gap: 1.25rem;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img {
        width: 250px;
        height: 250px;
    }

    .home__scroll {
        margin-left: 7.5rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
    }

    .home__subtitle {
        font-size: var(--normal-font-size);
    }

    .home__social {
        order: -1;
    }

    .home__img {
        order: -1;
    }

    .home__data {
        grid-column: 2/3;
    }

    .home__img {
        width: 200px;
        height: 200px;
    }

    .home__scroll {
        display: none;
    }
  }

  @media screen and (max-width: 576px) {
    .home__content {
        padding-top: 5rem;
        padding-left: 0.5rem;
        padding-bottom: 4rem;
        column-gap: 1.25rem;
    }
}
  
  /* For small devices */
  @media screen and (max-width: 420px) {
    .home__content {
        padding-top: 5rem;
        padding-left: 0.5rem;
    }
  }

  @media screen and (max-width: 360px) {
    .home__content {
        padding-top: 4rem;
    }

    .home__img {
        width: 180px;
        height: 180px;
    }

    .home__hand {
        width: 22px;
        height: 22px;
    }

    .home__subtitle {
        font-size: var(--small-font-size);
    }
  }