.footer {
    background-color: var(--title-color-dark);
    border-top: 1px solid rgba(0, 0, 0, 0.1);   
}

.footer__container {
    padding: 0.8rem 0 0.8rem;
}

.footer__copy {
    display: block;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}